extends ../extends/layout

block content
    include ../includes/content/indexRoute/header
    .pt-5
    .container.font-default

        h2.pt-5.mt-5 Check Key Admin

        if errors
            each error in errors
                .alert.alert-danger= error
        
        form(method="POST")
            .form-group
                label(for="key") Key
                input#key.form-control(name="key", type="text", value=values ? values.key : "")

            button.btn.btn-primary Check