.row.d-flex.justify-content-start
    if items
        .col-12.col-lg-12.col-md-12.col-xl-12
            a.title-link(href='/allAnime')
                p.h5.mt-5.mb-3
                    | tất cả anime! 
                    i.fas.fa-angle-right
                    a.title-link(href="/genre")= " " + items.genre