.slide-pages.pt-2
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
            li(data-target='#carouselExampleIndicators', data-slide-to='1')
            li(data-target='#carouselExampleIndicators', data-slide-to='2')
            li(data-target='#carouselExampleIndicators', data-slide-to='3')
            li(data-target='#carouselExampleIndicators', data-slide-to='4')
            li(data-target='#carouselExampleIndicators', data-slide-to='5')
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src='assets/images/slides/v1.png', alt='First slide')
            .carousel-item
                img.d-block.w-100(src='assets/images/slides/v2.png', alt='Second slide')
            .carousel-item
                img.d-block.w-100(src='assets/images/slides/v3.png', alt='Third slide')
            .carousel-item
                img.d-block.w-100(src='assets/images/slides/v4.png', alt='Four slide')
            .carousel-item
                img.d-block.w-100(src='assets/images/slides/v5.png', alt='Five slide')
            .carousel-item
                img.d-block.w-100(src='assets/images/slides/v6.png', alt='Six slide')