.footer
  .container.text-center
    .fnav
      p
        | Copyright © 2019 Anime4VN. Designed by 
        a(href='https://www.facebook.com/profile.php?id=100027087492499', rel='nofollow') trungpq163