nav.navbar.navbar-expand-xl.navbar-light.fixed-top.border-bottom.shadow-sm.font-header(style='background-color: #ffffff;')
    .container
        a.navbar-brand(href='/', style='font-size: 1.5rem;') Anime4VN
        button.navbar-toggler.mr-auto(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.mr-4
            ul.navbar-nav.ml-auto
                li.nav-item.active
                    a.nav-link(href='/')
                        | TRANG CHỦ
                        span.sr-only (current)
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | THỂ LOẠI
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        .container
                            .row
                                .col
                                    table
                                        tbody
                                            tr
                                                td
                                                    table
                                                        tbody
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | hành
                                                                        | động
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./demons.html') demons
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./harem.html') harem
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./romance.html')
                                                                        | lãng
                                                                        | mạn
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./shoujo.html') shoujo
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./vampire.html') Vampire
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./adventure.html')
                                                                        | phiêu
                                                                        | lưu
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./drama.html') Drama
                                                td
                                                    table
                                                        tbody
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./magic.html')
                                                                        | phép
                                                                        | thuật
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./ecchi.html') Ecchi
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./school.html')
                                                                        | học
                                                                        | đường
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./shounen.html') Shounen
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./comedy.html')
                                                                        | hài
                                                                        | hước
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./game.html') Game
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./sci-fi.html')
                                                                        | khoa
                                                                        | học viễn tưởng
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./slice-of-life.html')
                                                                        | đời
                                                                        | thường
                                    //
                                        <a class="dropdown-item" href="./waching-video-naruto.html">Action</a>
                                        <a class="dropdown-item" href="./waching-video-naruto.html">Action</a>
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | mùa anime
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        .container
                            .row
                                .col
                                    table
                                        tbody
                                            tr
                                                td
                                                    table
                                                        tbody
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | mùa
                                                                        | xuân
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | mùa
                                                                        | hạ
                                                td
                                                    table
                                                        tbody
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | mùa
                                                                        | thu
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | mùa
                                                                        | đông
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | NĂM SX
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        .container
                            .row
                                .col
                                    table
                                        tbody
                                            tr
                                                td
                                                    table
                                                        tbody
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | anime
                                                                        | 2010
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | anime
                                                                        | 2012
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | anime
                                                                        | 2014
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | anime
                                                                        | 2016
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | anime
                                                                        | 2018
                                                td
                                                    table
                                                        tbody
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | anime
                                                                        | 2011
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | anime
                                                                        | 2013
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | anime
                                                                        | 2015
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | anime
                                                                        | 2017
                                                            tr
                                                                td
                                                                    a.dropdown-item(href='./action.html')
                                                                        | anime
                                                                        | 2019
                li.nav-item
                    a.nav-link(href='#')
                        | bxh
                li.nav-item
                    a.nav-link(href='#')
                        | lịch chiếu
                li.nav-item
                    a.nav-link(href='./search.html')
                        | tìm kiếm
        a.navbar-brand(href='/user/home')
            img.rounded-circle(style='border: 1px solid #d3d3d3;', src='/assets/images/akari.jpg', alt='logo', width='50px', height='50px')
