.row.d-flex.justify-content-start
    .col-12.col-lg-12.col-md-12.col-xl-12
        a.title-link(style='user-select: none;')
            p.h5.mt-5.mb-3
                | Bạn đã xem chưa ^^!
                //- i.fas.fa-angle-right