extends ./extends/layout

block content
    //- header
    include ./includes/content/indexRoute/header

    .container.mt-5.pt-5
        //- slider page
        include ./includes/carousel

        //- anime update
        .anime-update
            include ./includes/content/indexRoute/title-update
            include ./includes/content/indexRoute/item-anime-update
        
        //- pagination
        include ./includes/content/indexRoute/pagination-item__update

        //- anime all
        .anime-all
            include ./includes/content/indexRoute/title
            include ./includes/content/indexRoute/item

        //- footer
        include ./includes/footer