doctype html
head
    meta(charset='utf-8')
    link(rel='icon', href='../footage/img/Untitled-1.png', type='image/x-icon')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Anime4VN - Anime VietSub Online
    // stylesheet
    link(rel='stylesheet', href='/css/card-style.css')
    // font
    link(href='https://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
    // using icon
    link(href='https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css', rel='icon')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    style.
        body {
            background-image: url(/assets/images/74001617_p0.jpg);
        }
    if items  
        .card
            .card-header
                img(src= items.image, alt='img')
            .container
                .left-section
                    h3= items.title
                    p(style="margin-top: 0.5rem; margin-bottom: 0.5rem;")= "Other names: " + items.ortherTitle                    
                    span= "Scores: " + items.scores
                    br
                    span= "Genre: " + items.genre + "," + " " + items.genreOrther
                    a.followbtn(href= items.url + "/tap-1",style="margin-top: 0.8rem;") Watching Now
                
    // script
    script(src='https://unpkg.com/ionicons@4.5.5/dist/ionicons.js')
