extends ../extends/layout

block content
    //- header
    include ../includes/content/indexRoute/header

    .container.mt-5.pt-5
        //- anime all
        .anime-all
            include ../includes/content/seasonRoute/title
            include ../includes/content/genreRoute/item

        //- footer
        include ../includes/footer