.search-anime
    .row.d-flex.justify-content-start
        .col-12.col-lg-12.col-md-12.col-xl-12
            a.title-link(href='#')
                p.h5.mt-5.mb-3
                    | t&igrave;m ki&#x1EBF;m anime!&nbsp;
                    i.fas.fa-angle-right
    .row
        .col-12
            #custom-search-input
                form(action="/search/items", method="GET").input-group
                    input.search-query.form-control(type='search', name="q", placeholder='Tìm kiếm anime (⁎˃ᆺ˂)')
                    span.input-group-btn
                        button(type='button', disabled='')
                            span.fa.fa-search